body {
	text-align: center;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 5em;
	color: #333;
}

.visitors-count {
	display: inline-block;
	background-color: tomato;
	color: #fff;
	font-size: 2em;
	height: 2.5em;
	width: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
}